
<main id="keytarget" class="main disable-dbl-tap-zoom" >
  <div class="content">
    <div class="container">
      <h1>Number Munchers Reborn <img (click)="toggleDebug()" alt="muncher logo" src="assets/muncher-happy.png" width="40px" /></h1>
      <h2>Find {{getQuestionPrompt()}}</h2>
      <h3>{{getGeneralInstructions()}}</h3>
      <button id="btnNewGame" class="btn" [ngClass]="getButtonClass()" (click)="newGame()">{{getButtonText()}}</button>
      <button id="btnSound" (click)="toggleSound()" type="button" class="btn imagebutton">
        <svg *ngIf="getSoundManager().getSoundOn()" role="img" aria-labelledby="Sound off"
          xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up"
          viewBox="0 0 16 16">
          <path
            d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z" />
          <path
            d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z" />
          <path
            d="M10.025 8a4.5 4.5 0 0 1-1.318 3.182L8 10.475A3.5 3.5 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.5 4.5 0 0 1 10.025 8M7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11" />
        </svg>
        <svg *ngIf="!getSoundManager().getSoundOn()" role="img" aria-labelledby="Sound on"
          xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-mute"
          viewBox="0 0 16 16">
          <path
            d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06M6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0" />
        </svg>
      </button>
      <button id="btnHelp" class="btn imagebutton" onclick="document.getElementById('btnHelp').blur()" (click)="dialog.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
        </svg>
      </button>
      <p [ngClass]="getStatusMessageClass()">{{getStatusMessage()}}</p>
      <p class ="detail" [ngClass]="getStatusMessageClass()">{{getStatusDetailMessage()}}</p>
      <p>{{getFoundNumbers()}}</p>
      <div *ngFor="let r of [].constructor(getPositionManager().getRows()); index as idxr" class="row">
        <div [ngClass]="getCellClass(idxr,idxc)" id="{{idxr}}{{idxc}}"
          *ngFor="let r of [].constructor(getPositionManager().getColumns()); index as idxc" class="col cell">
          {{getCellData(idxr,idxc).value}}
          <img alt="muncher avatar" id="i{{idxr}}{{idxc}}" *ngIf="isActive(idxr, idxc)" width="70px"
            [src]="getImage()" />
        </div>
      </div>
      
      <div class="container large">
        <p class="version">||v142||</p>
      </div>
    </div>

  </div>

  <dialog id="helpDialog" class="help" appDialog #dialog closed>

    <form method="dialog">
      <button class="right">X</button>
      <h1 class="centered">Number Munchers Reborn</h1>
      <p class="centered">A math game</p>
      <img class="centered-image" alt="Number Munchers Logo" src ="./assets/preview.png" width="20%"/>
   
        <p>
          I recommend that children try this game out with a parent. I hope that it will be a fun experience for both! Some of the math terms are defined as follows: 
          </p>
          <div class="glossary">
          <details>
            <summary>Perfect square</summary>
            A number that can be expressed as another whole number multipled by itself.  For example, 9 is a perfect square,
            because 3x3 is 9.  
          </details>

          <details>
            <summary>Multiple</summary>
            A number equal to a base number multipled by a whole number.  For example, multiples of 3 include 6, 9, and 12. 
          </details>

          <details>
            <summary>Factor</summary>
            A whole number that, when multiplied by another whole number, is equal to another number.  For example,
            3 is a factor of 6, since 3x2 is 6.
          </details>
        </div>
        <p>Not all solutions are shown. For example, for "find factors of 21," you might find
          3, 7, 1, or 21, but not necessarily all of them.
        </p>
     <hr/>
     <ul>
      <li class="credits">Steven Mycynek 2024 </li>
      <li class="credits"><a href="mailto:sv@stevenvictor.net?subject=Number Munchers Reborn info">sv&#64;stevenvictor.net</a></li> 
      <li class="credits">
        <a href="https://github.com/smycynek/number-munchers-reborn">Source</a>
      </li>
   
    </ul>

      <button>OK</button>
    </form>
  </dialog>



</main>