@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 0;
    border-style: none;
}

.cell {
    margin: 2px;
    width: 120px;
    height: 90px;
    align-items: center;
    align-content: center;
    vertical-align: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-size: x-large;
    background-color: lightgrey;
    padding: 0px;
}

.button-success {
    font-weight: bold;
}

.cell-active {
    font-weight: bolder;
    border-width: 3px;
    width: 119px;
    height: 89px;
}

.large {
    margin-top: 30px;
}

.game-over {
    filter: brightness(80%);
    color: white;
}

.info {
    font-size: small;
    color: gray;
}

.discovered-valid {
    background-color: lightgreen;
}

.discovered-invalid {
    background-color: pink;
}

.status-success {
    color: green;
    font-weight: bold;
}

.status-error {
    font-weight: bold;
    color: red;
}

.status-default {
    color: black;
}

summary:focus {
    outline: none;
    box-shadow: none;
}

details:focus {
    outline: none;
    box-shadow: none;
}

a:focus {
    outline: none;
    box-shadow: none;
}

li:focus {
    outline: none;
    box-shadow: none;
}

ol:focus {
    outline: none;
    box-shadow: none;
}

ul:focus {
    outline: none;
    box-shadow: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}


main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    box-sizing: inherit;
    position: relative;
    border-style: none;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
    color: gray;
}

p {
    font-size: large;
    margin: 0;
    padding: 0;
}

.detail {
    font-size: small;
}

.version {
    font-size: xx-small;
    color: gray;
}

.credits {
    font-size: small;
    color: grey;
}

.centered {
    text-align: center;

}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.help {
    background-color: lightyellow
}

li {
    list-style: none;
}

summary {
    text-decoration: underline;
}

dialog {
    width: 95%;
}

::backdrop {
    background-image: linear-gradient(45deg,
            grey, white);
    opacity: 0.90;
}

.glossary {
    margin: 1em;
}

.right {
    display: block;
    float: right;
}


img {
    padding: 0;
    margin: 0;
}

.single {
    width: 70px;
}

.double {
    width: 40px;
}


@keyframes flash {
    0% {
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: lightgray;
        background-color: lightgray;
    }

    25% {
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: yellow;
        background-color: yellow;
    }

    50% {
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: orange;
        background-color: orange;
    }

    75% {
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: black;
        background-color: lightgray;
    }

    100% {
        border-style: solid;
        border-width: 2px;
        border-color: black;
        color: black;
        background-color: lightgray;
    }
}

.trailing {
    margin-bottom: 2em;
}

.mertin-flip {
    border-style: solid;
    border-width: 2px;
    animation-name: flash;
    animation-duration: 2.0s;
}

.no-border {
    border: none;
    border-style: none;
}

.option {
    display: block;
}

.choice-group {
    margin: 0.1em;
    padding: 0.1em;
}

.config {
    font-size: small;
}

.smaller {
    font-size: medium;
}