@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 0;
    border-style: none;
}

.cell {
    margin: 0.125em;
    width: 120px;
    height: 90px;
    align-items: center;
    align-content: center;
    vertical-align: center;
    text-align: center;
    border-style: solid;
    border-width: 0.0625em;
    font-size: x-large;
    background-color: lightgrey;
    padding: 0px;
}

.button-success {
    font-weight: bold;
}


.cell-active {
    font-weight: bolder;
    border-width: 0.125em;
}

.large {
    margin-top: 30px;
}

.game-over {
    filter: brightness(80%);
}

.info {
    font-size: small;
    color: gray;
}

.discovered-valid {
    background-color: lightgreen;
}

.discovered-invalid {
    background-color: pink;
}

.status-success {
    color: green;
    font-weight: bold;
}

.status-error {
    font-weight: bold;
    color: red;
}

.status-default {
    color: black;
}

button:focus {
    outline: none;
    box-shadow: none;
}

summary:focus {
    outline: none;
    box-shadow: none;
}

details:focus {
    outline: none;
    box-shadow: none;
}

a:focus {
    outline: none;
    box-shadow: none;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    box-sizing: inherit;
    position: relative;
    border-style: none;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
    color: gray;
}

p {
    font-size: large;
    margin: 0;
    padding: 0;
}