<main id="keytarget" class="main disable-dbl-tap-zoom">
  <div class="content">
    <div class="container">
      <h1>{{title}}<img title="Our hero!" (click)="toggleDebug()" alt="muncher logo" src="assets/muncher-happy.png"
          width="40px" /></h1>
      <h2>{{getQuestionPrompt()}}</h2>


      <button title="Start a new game" id="btnNewGame" class="btn" [ngClass]="getStartButtonClass()"
        (click)="newGame()">{{getStartButtonText()}}</button>
      <button title="Sound Effects" id="btnSound" (click)="toggleSound()" type="button"
        class="btn imagebutton no-border">
        <svg *ngIf="getSoundManager().getSoundOn()" role="img" aria-labelledby="Sound off"
          xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-up"
          viewBox="0 0 16 16">
          <path
            d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z" />
          <path
            d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z" />
          <path
            d="M10.025 8a4.5 4.5 0 0 1-1.318 3.182L8 10.475A3.5 3.5 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.5 4.5 0 0 1 10.025 8M7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11" />
        </svg>
        <svg *ngIf="!getSoundManager().getSoundOn()" role="img" aria-labelledby="Sound on"
          xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-volume-mute"
          viewBox="0 0 16 16">
          <path
            d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06M6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0" />
        </svg>
      </button>


      <button [disabled]="this.noRemainingSolutions()" id="btnMertin" class="btn imagebutton"
        [ngClass]="getMertinButtonClass()" onclick="document.getElementById('btnMertin').blur()" (click)="cycleSpeed()">
        <img alt="Mertin avatar" title="Set Mertin-mode speed" [src]="getMertinButtonImage()" width="40px">
      </button>

      <button title="Select puzzle types" id="btnShowTypes" class="btn imagebutton no-border"
        onclick="document.getElementById('btnShowTypes').blur()" (click)="typeDialog.showModal()">

        <svg height="30" width="30" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.957 511.957" xml:space="preserve">
          <g>
            <g>
              <path d="M458.624,191.979c-16.021,0-25.387,6.101-34.368,11.947c-3.499,2.261-7.701,2.325-11.264,0.192s-5.504-5.909-5.163-10.048
         l8.107-97.216c0.256-2.965-0.768-5.909-2.773-8.107c-2.027-2.197-4.864-3.456-7.851-3.456h-95.701
         c-7.829,0-14.997,4.267-18.752,11.136c-3.712,6.848-3.435,15.147,0.768,21.653c4.267,6.613,7.04,11.605,7.04,20.544
         c0,17.643-19.136,32-42.667,32c-23.531,0-42.667-14.357-42.667-32c0-8.939,2.773-13.931,7.019-20.523
         c4.224-6.549,4.501-14.848,0.789-21.675c-3.755-6.869-10.923-11.136-18.752-11.136h-95.723c-2.965,0-5.824,1.259-7.851,3.456
         c-2.005,2.197-3.029,5.141-2.773,8.107l8.107,97.216c0.341,4.16-1.6,7.915-5.163,10.048c-3.584,2.133-7.808,2.048-12.011-0.683
         c-8.256-5.355-17.621-11.456-33.643-11.456c-29.397,0-53.333,28.715-53.333,64s23.936,64,53.333,64
         c16.021,0,25.387-6.101,34.368-11.947c3.499-2.261,7.701-2.325,11.264-0.192c3.563,2.133,5.504,5.909,5.163,10.048l-8.107,97.216
         c-0.256,2.965,0.768,5.909,2.773,8.107c2.027,2.197,4.864,3.456,7.851,3.456h95.723c7.829,0,14.997-4.267,18.752-11.136
         c3.712-6.848,3.435-15.147-0.768-21.653c-4.267-6.613-7.04-11.605-7.04-20.544c0-17.643,19.136-32,42.667-32
         c23.531,0,42.667,14.357,42.667,32c0,8.939-2.773,13.931-7.019,20.523c-4.224,6.549-4.501,14.848-0.789,21.675
         c3.755,6.869,10.923,11.136,18.752,11.136h95.723c2.987,0,5.824-1.259,7.829-3.456c2.005-2.197,3.029-5.141,2.773-8.107
         l-8.107-97.216c-0.341-4.16,1.6-7.915,5.163-10.048c3.563-2.155,7.787-2.048,12.011,0.683
         c8.256,5.355,17.621,11.456,33.643,11.456c29.397,0,53.333-28.715,53.333-64S488.021,191.979,458.624,191.979z M458.624,298.667
         c-9.685,0-14.848-3.349-22.763-8.512c-10.325-6.72-23.275-6.933-33.813-0.619c-10.56,6.315-16.491,17.856-15.467,30.123
         l7.125,85.675l-84.139,0.064c5.269-8.192,10.411-17.408,10.411-32.064c0-29.397-28.715-53.333-64-53.333s-64,23.936-64,53.333
         c0,14.656,5.141,23.872,10.389,32h-84.117l7.125-85.675c1.024-12.267-4.907-23.808-15.467-30.123
         c-10.56-6.336-23.531-6.08-34.603,1.131c-7.147,4.651-12.288,8-21.995,8c-17.643,0-32-19.136-32-42.667
         c0-23.531,14.357-42.667,32-42.667c9.685,0,14.848,3.349,22.763,8.512c10.304,6.699,23.275,6.912,33.813,0.619
         c10.56-6.315,16.491-17.856,15.467-30.123l-7.125-85.675l84.139-0.064c-5.269,8.192-10.411,17.408-10.411,32.064
         c0,29.397,28.715,53.333,64,53.333s64-23.936,64-53.333c0-14.656-5.141-23.872-10.389-32h84.117l-7.125,85.675
         c-1.024,12.267,4.907,23.808,15.467,30.123c10.539,6.293,23.488,6.059,34.603-1.131c7.147-4.651,12.288-8,21.995-8
         c17.643,0,32,19.136,32,42.667C490.624,279.531,476.267,298.667,458.624,298.667z" />
            </g>
          </g>
        </svg>
      </button>

      <button id="btnHelp" title="Help" class="btn imagebutton no-border"
        onclick="document.getElementById('btnHelp').blur()" (click)="dialog.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-question-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
        </svg>
      </button>


      <p [ngClass]="getStatusMessageClass()">{{getStatusMessage()}}</p>
      <p class="detail" [ngClass]="getStatusMessageClass()">{{getStatusDetailMessage()}}</p>
      <p>{{getFoundNumbers()}}</p>
      <div *ngFor="let r of [].constructor(getPositionManager().getRowCount()); index as idxr" class="row">
        <div [ngClass]="getCellClass(idxr,idxc)" id="{{idxr}}{{idxc}}"
          *ngFor="let r of [].constructor(getPositionManager().getColumnCount()); index as idxc" class="col cell">
          {{getCellData(idxr,idxc).valuePair.valueAsString}}
          <img alt="muncher avatar" id="i{{idxr}}{{idxc}}" *ngIf="isActive(idxr, idxc)"
            [ngClass]="getAvatarSizeClass(idxr, idxc)" [src]="getAvatarImage()" />
          <img alt="mertin avatar" id="i{{idxr}}{{idxc}}m" *ngIf="hasMertin(idxr, idxc)"
            [ngClass]="getAvatarSizeClass(idxr, idxc)" [src]="getMertinImage()" />
        </div>
      </div>


      <div class="container large">
        <p class="version">||v162||</p>
      </div>
    </div>

  </div>

  <dialog id="puzzleTypeDialog" class="help" appDialog #typeDialog closed>
    <form method="dialog">
      <button class="right">X</button>
    </form>

    <div>
      <h1>Puzzle Types</h1>
      <div>
        <div class="choice-group">
          <input id="cbGlt" [disabled]="isCheckboxDisabled(glt)" [(ngModel)]="glt"
            (change)="toggleType(glt, puzzleType.GREATER_LESS_THAN)" type="checkbox" />
          <label for="cbGlt">Greater or Less Than</label>
        </div>
        <div class="choice-group">
          <input id="cbMult" [disabled]="isCheckboxDisabled(multiplication)"
            [(ngModel)]="multiplication" (change)="toggleType(multiplication, puzzleType.MULTIPLICATION)"
            type="checkbox" />
          <label for="cbMult">Multiplication</label>
        </div>
        <div class="choice-group">
          <input id="cbDiv" [disabled]="isCheckboxDisabled(division)" [(ngModel)]="division"
            (change)="toggleType(division, puzzleType.DIVISION)" type="checkbox" />
          <label for="cbDiv">Division</label>
        </div>
        <div class="choice-group">
          <input id="cbMisc" [disabled]="isCheckboxDisabled(misc)" [(ngModel)]="misc"
            (change)="toggleType(misc, puzzleType.MISC)" type="checkbox" />
          <label for="cbMisc">Misc</label>
        </div>
      </div>

    </div>
    <form method="dialog">
      <button>OK</button>
    </form>
  </dialog>

  <dialog id="helpDialog" class="help" appDialog #dialog closed>

    <form method="dialog">
      <button class="right">X</button>
      <h1 class="centered">{{title}}</h1>
      <h2 class="centered">A math game</h2>

      <p>{{getGeneralInstructions()}}
        I recommend that children try this game out with a parent. I hope that it will be a fun experience for both!
        Some of the math terms are defined as follows:
      </p>
      <div class="glossary">
        <details>
          <summary>Perfect square</summary>
          A number that can be expressed as another whole number multiplied by itself. For example, 9 is a perfect
          square,
          because 3x3 is 9.
        </details>

        <details>
          <summary>Multiple</summary>
          A number equal to a base number multiplied by a whole number. For example, multiples of 3 include 6, 9, and 12.
        </details>

        <details>
          <summary>Factor</summary>
          A whole number that, when multiplied by another whole number, is equal to another number. For example,
          3 is a factor of 6, since 3x2 is 6.
        </details>
      </div>
      <p class="trailing">Not all solutions are shown. For example, for "find factors of 21," you might find
        3, 7, 1, or 21, but not necessarily all of them.
      </p>

      <h1>Cast of Characters</h1>
      <div class="glossary">
        <details>
          <summary>Munchy</summary>
          <img style="display: block;" alt="Number Munchers Logo" src="./assets/preview.png" width="15%" />
          Our hero, a curious frog who loves numbers and has very specific tastes (that vary each game) for the kinds of
          numbers he likes to eat.
        </details>

        <details>
          <summary>Mertin</summary>
          <img style="display: block;" alt="Mertin Logo" src="./assets/mertin.png" width="15%" />
          A mischievous gremlin who likes to reset areas of the board according to his own design.
          (Off by default, with three speed levels for a challenge)
        </details>
      </div>

      <hr />
      <ul>
        <li class="credits">Steven Mycynek 2024 </li>
        <li class="credits"><a
            href="mailto:sv@stevenvictor.net?subject=Number Munchers Reborn info">sv&#64;stevenvictor.net</a></li>
        <li class="credits">
          <a href="https://github.com/smycynek/number-munchers-reborn">Source</a>
        </li>

      </ul>

      <button>OK</button>
    </form>
  </dialog>



</main>