
::backdrop {
    background-image: linear-gradient(45deg,
            grey, white);
    opacity: 0.5;
}

.dialog-friendly {
    background-color: lightyellow;
}

.button-friendly {
    background-color: lightyellow;
}

.button-welcome {
    background-color: lightblue;
    float: right;
    border-style: none;
}

.dialog-wide {
    width: 95%;
}

.dialog-narrow {
    width: 65%;
}

.choice-menu {
    margin: 15px;
}

.welcome-dialog {
    width: 400px;
    height: 200px;
    background-color: lightblue;
    border-style: none;
    border-radius: 20px;
}

.strong {
    font-weight: bold;
}