::backdrop {
    background-image: linear-gradient(45deg,
            grey, white);
    opacity: 0.5;
}

.dialog-base {
    border-radius: 10px;
    animation-name: appear;
    animation-duration: 0.5s;
    border-width: 2px;
    border-color: gray;
}

.dialog-welcome {
    width: 300px;
    height: 350px;
    background-color: lightblue;
}

.dialog-general {
    background-color: lightyellow;
}

.dialog-wide {
    width: 500px;
}

.dialog-narrow {
    width: 300px;
}

.choice-menu {
    margin: 15px;
}


.strong {
    font-weight: bold;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: .7;
    }


    100% {
        opacity: 1.0;
    }
}

.heading {
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

