.right {
  display: block;
  float: right;
}

.choice-group {
  margin: 0.1em;
  padding: 0.1em;
}

.glossary {
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.large {
  margin-top: 30px;
}

.footer {
  height: 30px;
  margin-left: -0.5em;
  margin-top: 3px;
}
.welcome-text {
  display: block;
}

.details-container {
  height: 65px;
  * {
    font-size: large;
  }
}

.question-container {
  height: 55px;
  font-size: large;
  align-content: center;
  vertical-align: middle;
}

.header {
  color: rgb(50, 50, 50);
  text-align: center;
  margin-bottom: 4px;
}
