<div>
  <form
    (ngSubmit)="submit()"
    method="dialog"
    [formGroup]="puzzleTypesFormGroup"
  >
    <button
      type="button"
      (click)="cancelAndClose()"
      class="button-base button-cancel highlighted"
    >
      X
    </button>
    <h1 class="centered strong">Puzzle Types</h1>
    <div class="choice-menu">
      <div class="choice-group form-check">
        <div
          class="highlighted"
          *ngFor="let puzzleTypeName of PuzzleTypeStrings"
        >
          <div class="check-row">
            <input
              title="{{ puzzleTypeName }}"
              formControlName="{{ puzzleTypeName }}"
              name="{{ puzzleTypeName }}"
              class="checkbox-wide big-check"
              id="{{ puzzleTypeName }}"
              type="checkbox"
            />
            <label for="{{ puzzleTypeName }}">{{
              getPuzzleTypeTitle(puzzleTypeName)
            }}</label>
          </div>
        </div>

        <button
          type="button"
          (click)="clearAll()"
          class="button-base highlighted tiny-button"
        >
          Clear All
        </button>

        <p class="detail-content">
          Puzzle type preference changes are encoded in the page's URL. Copy,
          text, bookmark, or post it to save a custom puzzle configuration.
        </p>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="!hiddenPuzzleTypeValidator.valid"
      title="Settings OK"
      class="has-disabled button-base button-centered highlighted"
    >
      {{
        hiddenPuzzleTypeValidator.valid ? 'OK' : 'Select at least one puzzle'
      }}
    </button>
  </form>
</div>
