<div>
  <form method="dialog">
    <button class="button-base button-cancel highlighted">X</button>
  </form>
</div>
<div class="welcome-text">
  <h1 class="centered strong">Welcome!</h1>

  <p>
    Click or tap a square in the grid to get started with the game. Try the row of icons above the
    grid for game settings or more information.
  </p>
  <form method="dialog">
    <button title="Start Playing" class="button-base button-centered highlighted">
      Start Playing
    </button>
    <button
      (click)="this.puzzleTypesClicked.emit()"
      class="button-base button-centered highlighted"
    >
      Select Puzzle Types
    </button>
  </form>
</div>
