<form method="dialog">
  <button class="button-base button-cancel highlighted">X</button>
</form>
<div class="welcome-text">
  <div class="heading">
    <p class="centered strong">Welcome!</p>
  </div>
  <p>
    Click or tap a square in the grid to get started with the game. Try the row
    of icons above the grid for game settings or more information.
  </p>
  <form method="dialog">
    <button
      title="Start Playing"
      class="button-base button-centered highlighted"
    >
      Start Playing
    </button>
    <button (click)="test()" class="button-base button-centered highlighted">
      Select Puzzle Types
    </button>
  </form>
</div>
